<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Triviador Argentina - Partida</title>

    <link rel="stylesheet" th:href="@{/css/leaflet.css}">
    <link rel="stylesheet" th:href="@{/css/mapa.css}">

</head>
<body>
    <div id="map"></div>
    <div id="info-provincia"></div>
    
    <!--inicia leaflet-->
    <script th:src="@{/js/leaflet.js}"></script>
    <!--carga el mapa-->
    <script th:src="@{/js/mapa.js}"></script>
</body>
</html>